@model DVCP.ViewModel.newPostViewModel
<link href="~/Content/web/awesome-bootstrap-checkbox.css" rel="stylesheet" />
@{
    ViewBag.Title = "Chỉnh sửa bài " + Model.post_title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Model.post_type = DVCP.ViewModel.PostType.Normal;
}

<style>
    #imganno, #avatarPost{
        display: none;
    }
</style>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="container-fluid" style="margin-top:15px;padding-top:15px;">


    @using (Html.BeginForm("editPost", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.post_id)
        @Html.HiddenFor(model => model.AvatarImage)
        <div class="row">
            <div class="form-group col-md-4">
                @Html.Label("Loại bài viết:", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(x => x.post_type, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.post_type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Triều đại:", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(x => x.dynasty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.dynasty, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Đề xuất:", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(x => x.Rated, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Rated, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @{
            if (Model.post_type == DVCP.ViewModel.PostType.Slide)
            {
                <div class="form-group">
                    <div class="col-md-10">
                        <a href="/Admin/FileManager/?subFolder=@Model.imagepath" target="_blank">Click vào đây</a> để quản lý slide ảnh cho bài viết này !
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-10">
                <div id="imganno" class="form-group" style="color:red">
                    Tạo bài viết xong sẽ được chuyển hướng tới trang upload ảnh !
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Thẻ tag bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <div class="row">
                    @for (int i = 0; i < Model.post_tag.Count; i++)
                    {
                        string title = Model.post_tag[i].Text;
                        <div class="col-md-3 abc-checkbox abc-checkbox-primary">
                            @Html.HiddenFor(model => model.post_tag[i].Value)
                            @Html.CheckBoxFor(model => model.post_tag[i].Selected, new { @class = "form-check-input" })
                            @Html.LabelFor(model => model.post_tag[i].Selected, title, new { @class = "form-check-label" })
                        </div>

                    }
                </div>
                @Html.ValidationMessageFor(model => model.post_tag, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Tiêu đề bài viết: ", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.post_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.post_title, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4 abc-checkbox abc-checkbox-warning mr-2">
                @Html.CheckBoxFor(m => m.UpdateSlug, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.UpdateSlug,"Update lại đường dẫn", new { @class = "form-check-label" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Thay đổi ảnh đại diện bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <label class="switch">
                    <input type="checkbox" id="changeAvatar" name="changeAvatar" value="@(Model.changeAvatar == true ? "true" : "false")" class="success">
                    <span class="slider"></span>
                </label>
                <p id="changeAvtText" style="display:inline"> Giữ nguyên</p>
            </div>
        </div>
        <div class="form-group" id="avatarPost">
            @Html.Label("Ảnh đại diện bài viết: ", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <input type="file" id="avatarFile" name="avatarFile" class="form-control-file" />
                @Html.ValidationMessageFor(model => model.avatarFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10" style="text-align:center">
                <img class="img-responsive" style="max-width:60%;text-align:center" id="avtpreview" src="~/Upload/images/@Model.AvatarImage" @*src="~/Content/images/no-image-available.jpg"*@ alt="Ảnh đại diện" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Teaser ngắn của bài viết", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.post_teaser, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.post_teaser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nội dung bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.post_content, new { @class = "form-control", cols = 3 })
                @Html.ValidationMessageFor(model => model.post_content, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>
            var editor = CKEDITOR.replace('post_content',
                {
                    filebrowserImageBrowseUrl: '/Content/ckfinder/ckfinder.html?type=Images',
                    width: '100%',
                    height: '450'
                }
            );
        </script>
        <div class="form-group">
            @Html.Label("Đánh giá bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.post_review, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.post_review, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Meta Keyword bài viết (không dấu, tách bằng dấu phẩy):", htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.meta_tag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.meta_tag, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Trạng thái bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <label class="switch">
                    <input type="checkbox" id="Status" name="Status" value="@(Model.Status == true ? "true" : "false")" @(Model.Status == true ? "checked" : "") class="success">
                    <span class="slider"></span>
                </label>
                <p id="showstatus" style="display:inline"> Đăng ngay</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sửa bài" class="btn btn-info" />
            </div>
        </div>
    </div>
    }
</div>
<script src="~/Content/js/editPost.js"></script>