@model DVCP.ViewModel.newPostViewModel

@{
    ViewBag.Title = "Tạo Bài Viết Mới";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Model.post_type = DVCP.ViewModel.PostType.Normal;
}
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<!-- include summernote css/js -->
<script src="~/Content/summernote/summernote-bs4.js"></script>
<link href="~/Content/summernote/summernote-bs4.css" rel="stylesheet" />
<div class="container-fluid" style="margin-top:15px;padding-top:15px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-6">
                @Html.Label("Loại bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(x => x.post_type, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.post_type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.Label("Triều đại:", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(x => x.dynasty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.dynasty, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Thẻ tag bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <div class="row">
                    @for (int i = 0; i < Model.post_tag.Count; i++)
                    {
                        string title = Model.post_tag[i].Text;
                        <div class="col-md-2">
                            @Html.HiddenFor(model => model.post_tag[i].Value)
                            @Html.CheckBoxFor(model => model.post_tag[i].Selected)
                            <p style="display:inline">@title</p>
                        </div>

                    }
                </div>
                @Html.ValidationMessageFor(model => model.post_tag, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Tiêu đề bài viết: ", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.post_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.post_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Teaser ngắn của bài viết", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.post_teaser, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.post_teaser, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="slideimg" class="form-group">
            @*<div class="table-responsive col-md-10">
                <table class="table table-bordered" id="dynamic_field">
                    <tr>
                        <td class="col-md-7"><input type="text" name="name[]" placeholder="Enter your Name" class="form-control name_list" /></td>
                        <td class="col-md-2"><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>
                    </tr>
                </table>
            </div>*@
        </div>
        <div class="form-group">
            @Html.Label("Nội dung bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.post_content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.post_content, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>
            $('#post_content').summernote({
                placeholder: 'Nội dung bài viết...',
                tabsize: 2,
                height: 350
            });
        </script>
        <div class="form-group">
            @Html.Label("Đánh giá bài viết:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.post_review, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.post_review, "", new { @class = "text-danger" })
            </div>
        </div>
        



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        var i = 1;
        $('#slideimg').on('click','#add', function () {
            i++;
            $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="name[]" placeholder="Link số ' + i +'" class="form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');
        });
        //$('#add').click(function () {
        //    i++;
        //    $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="name[]" placeholder="Enter your Name" class="form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');
        //});

        $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        });

        //$('#submit').click(function () {
        //    $.ajax({
        //        url: "name.php",
        //        method: "POST",
        //        data: $('#add_name').serialize(),
        //        success: function (data) {
        //            alert(data);
        //            $('#add_name')[0].reset();
        //        }
        //    });
        //});
        $("#post_type").change(function () {
            var type = this.value;
            if (type == 2) {
                $('#slideimg').append('<div id="tblimg" class="table-responsive col-md-10">'+
                '<table class= "table table-bordered" id = "dynamic_field" >'+
                    '<label class="control-label col-md-4" for="">Đường dẫn hình ảnh trong slide</label><tr><td class="col-md-7"><input type="text" name="name[]" placeholder="Link số '+i+'" class="form-control name_list" /></td>'
                        +'<td class="col-md-2"><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>'
                    +'</tr></table></div>')
            }
            else {
                $('#tblimg').remove();
            }
        });

    });
</script>