<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Đại Việt Cổ Phong</title>
    <link rel="icon" href="~/Content/images/dvcp.ico" type="image/x-icon" />
    <link href="~/Content/web/styles.css" rel="stylesheet" />
    <link href="~/Content/web/web.css" rel="stylesheet" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta name="Description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Tag">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/font-awesome/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @* @Scripts.Render("~/bundles/modernizr")*@
    @{ 
        GetData data = new GetData();
    }
</head>
<body>
    <header>
        <div class="bg-191">
            <div class="container">
                <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

                    <ul class="float-left list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10 toplink">
                        <li><a class="pl-0 pl-sm-10" href="https://www.facebook.com/groups/Vietnam.ancient">Về chúng tôi</a></li>
                        <li><a href="https://www.facebook.com/daivietcophong">Liên hệ</a></li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Admin Panel", "Index", "Admin", null, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                    <div class="d-inline-block float-right mt-2 mr-4">
                        <form action="/tim-kiem" method="GET">
                            <input type="text" name="title" placeholder="Tìm kiếm" class="mr-2 txtSearch" /><button class="text-white" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    @*<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
                            <li><a class="pl-0 pl-sm-10" href="#"><i class="fa fa-facebook-official"></i></a></li>
                           
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>*@
                </div> 
            </div>
            <!-- container -->
        </div>

        <div class="container back-white">
            <a class="logo" href="/"><img src="~/Content/web/images/logo-black.png" alt="Logo"></a>


            <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

            <ul class="main-menu2 link" id="main-menu">
                <li><a href="/">HOME</a></li>
                <li class="drop-down">
                    <a href="/trieu-dai">TRIỀU ĐẠI<i class="fa fa-caret-down"></i></a>
                    <ul class="drop-down-menu drop-down-inner">
                        @foreach (var i in data.GetEnumShowList().Take(6))
                        {
                            <li><a href="/trieu-dai/@i.slug-@i.value">@i.showname</a></li>
                        }
                        <li><a href="/trieu-dai/">XEM TẤT CẢ</a></li>
                    </ul>
                </li>
                <li class="drop-down">
                    <a href="/">DANH MỤC<i class="fa fa-caret-down"></i></a>
                    <ul class="drop-down-menu drop-down-inner">
                        @foreach (var i in data.GetListTags())
                        {
                            <li><a href="/danh-muc/@SlugGenerator.SlugGenerator.GenerateSlug(i.TagName.ToLower())-@i.TagID">@i.TagName</a></li>
                        }
                    </ul>
                </li>
                <li><a href="05_FAQS-single.html">EXPLAINED</a></li>
                <li><a href="06_contact-us.html">ICON CLAENDER</a></li>
            </ul>

            <div class="clearfix"></div>
        </div><!-- container -->
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="bg-191 color-ccc">

        <div class="container">
            <div class="pt-50 pb-20 pos-relative">
                <div class="abs-tblr pt-50 z--1 text-center">
                    <div class="h-80 pos-relative"><img class="opacty-1 h-100 w-auto" src="~/Content/web/images/map.png" alt=""></div>
                </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="mb-30">
                            <a href="#"><img src="~/Content/web/images/logo-white.png"></a>
                            <p class="mtb-20 color-ccc">
                                Đại Việt Cổ Phong là hội chuyên nghiên cứu về văn hóa,phong tục,kiến trúc cũng như lịch sử của Việt Nam thời xưa.
                            </p>
                            <p class="color-ash">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div><!-- mb-30 -->
                    </div><!-- col-md-4 -->

                    <div class="col-sm-4">
                        <div class="mb-30">
                            <h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
                            <div class="mb-20">
                                <a class="color-white" href="#"><b>Its Make or Break Time for Bitcoin</b></a>
                                <h6 class="mt-10">Jan 25, 2018</h6>
                            </div>
                            <div class="brdr-ash-1 opacty-2 mr-30"></div>
                            <div class="mt-20">
                                <a class="color-white" href="#"><b>Bitcoin's roller coster ride is not over</b></a>
                                <h6 class="mt-10">Jan 25, 2018</h6>
                            </div>
                        </div><!-- mb-30 -->
                    </div><!-- col-md-4 -->

                    <div class="col-sm-4">
                        <div class="mb-30">
                            <h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
                            <div class="mb-20">
                                <a class="color-white" href="#"><b>Its Make or Break Time for Bitcoin</b></a>
                                <h6 class="mt-10">Jan 25, 2018</h6>
                            </div>
                            <div class="brdr-ash-1 opacty-2 mr-30"></div>
                            <div class="mt-20">
                                <a class="color-white" href="#"><b>Bitcoin's roller coster ride is not over</b></a>
                                <h6 class="mt-10">Jan 25, 2018</h6>
                            </div>
                        </div><!-- mb-30 -->
                    </div><!-- col-md-4 -->

                </div><!-- row -->
            </div><!-- ptb-50 -->

            <div class="brdr-ash-1 opacty-2"></div>

            <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

                <ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
                    <li><a class="pl-0 pl-sm-10" href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Jobs advertising</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
                @*<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
                        <li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-google"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                        <li><a href="#"><i class="ion-social-bitcoin"></i></a></li>
                    </ul>*@

            </div> 
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/web/tether.min.js"></script>
    <script src="~/Content/web/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
